/* Text Elements */

h1 span.heading-text-2 {
  color: #2a617d;
}

h1.heading-1 {
  text-align: center;
}

h1 span.heading-text-4 {
  color: #0b750a;
}

h1 span.heading-text-1 {
  color: #0ac8c8;
}

h1.heading-3 {
  background-color: #3d3d3d;
  text-align: center;
}

h1 span.heading-text-6 {
  color: #2a617d;
}

h1 span.heading-text-7 {
  color: #2a617d;
}

h1 span.heading-text-8 {
  color: #2a617d;
}

h1.heading-2 {
  text-align: center;
}

p.paragraph span.paragraph-text-1 {
  color: #2a617d;
}

p.paragraph.paragraph-1 {
  text-align: center;
}

a.link-text.nav-button {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-color: rgba(0, 0, 0, .4);
  border-bottom: .0625rem solid rgba(0, 0, 0, .4);
  background-color: #3d3d3d;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', cursive;
}

a.link-text.footer-nav {
  padding: 10px 20px;
  color: #424345;
  font-family: 'Montserrat', cursive;
}

a.link-text.nav-button:hover {
  background-color: #000;
}

/* Layout Elements */

.container.footer-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: center;
  -ms-flex-align: center;
  margin-bottom: 60px;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
          justify-content: center;
}

.container.sd-two-cols {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
}

.container.nav-wrapper {
  background-color: rgba(32, 18, 18, .81);
}

div.responsive-picture {
  max-width: none;
}

@media screen and (min-width: 20rem) {
  /* Text Elements */

  h1 span.heading-text-2 {
    color: #2a617d;
    font-size: 1.9375rem;
  }

  h1.heading-1 {
    text-align: center;
  }

  h1.heading-2 {
    color: #2a617d;
    text-align: center;
  }

  h1.heading-3 {
    background-color: #3d3d3d;
    text-align: center;
  }

  h1 span.heading-text-5 {
    color: #0ac8c8;
  }

  p.paragraph span.paragraph-text-1 {
    color: #2a617d;
  }

  p.paragraph.paragraph-1 {
    text-align: center;
  }

  /* Layout Elements */

  .container.sd-two-cols {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    max-width: 75%;
  }

  .container.surrounding-padding-col-1 {
    padding: 10vw 40px;
  }

  .container.sample-60-buttons-cont.twelve-hundred-centered-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.sample-60-advanced-bt {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 1px;
    width: 100%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.nav-wrapper {
    background-color: #3d3d3d;
  }

  div.responsive-video.video-platform-4 {
    min-width: 10auto;
    min-height: 50px;
  }
}

@media screen and (min-width: 39.875rem) {
  /* Text Elements */

  h1.heading-3 {
    background-color: transparent;
  }
}

@media screen and (min-width: 40rem) {
  /* Text Elements */

  h1.heading-2 {
    color: #2a617d;
    text-align: center;
  }

  a.link-text.nav-button {
    padding-right: 20px;
    padding-left: 20px;
    width: 200px;
    border-left: .0625rem solid #000;
  }

  a.link-text.nav-button:last-of-type {
    border-right: .0625rem solid #000;
  }

  /* Layout Elements */

  .container.nav-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: center;
    background-color: #3d3d3d;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container.container-2 {
    padding-top: 20px;
  }

  .container.sd-two-cols {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -ms-flex-pack: start;
    max-width: 75%;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
  }

  .container.surrounding-padding-col-1 {
    padding: 10vw 40px;
  }

  .container.sample-60-buttons-cont.twelve-hundred-centered-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.sample-60-advanced-bt {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;
    padding: 20px 20px 10px 10px;
    min-width: 100px;
    min-height: 10px;
    width: 45%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  div.responsive-video.video-platform-4 {
    min-width: 10auto;
    min-height: 50px;
  }
}

@media screen and (min-width: 52.75rem) {
  /* Text Elements */

  h1 span.heading-text-2 {
    font-size: 3rem;
  }

  h1.heading-2 {
    text-align: center;
  }

  /* Layout Elements */

  .container.surrounding-padding-col-1 {
    padding: 2vw 40px 10vw;
  }

  .container.sample-60-buttons-cont.twelve-hundred-centered-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 10px 10px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.sample-60-advanced-bt {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;
    margin: 20px 0;
    padding: 20px 20px 10px 10px;
    min-width: 100px;
    min-height: 100px;
    width: 23.5%;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  div.responsive-video.video-platform-4 {
    min-width: 10auto;
    min-height: 50px;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  h1 span.heading-text-1 {
    color: #0ac8c8;
  }

  h1 span.heading-text-2 {
    color: #2a617d;
    font-size: 3.5625rem;
  }

  h1.heading-1 {
    text-align: center;
  }

  h1.heading-2 {
    color: #2a617d;
    text-align: center;
  }

  h1 span.heading-text-3 {
    font-size: 2.5625rem;
  }

  p.paragraph span.paragraph-text-1 {
    color: #2a617d;
  }

  p.paragraph.paragraph-1 {
    text-align: center;
    font-size: 23px;
  }

  p.paragraph span.paragraph-text-2 {
    color: #2a617d;
  }

  /* Layout Elements */

  .container.nav-wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
    background-color: #3d3d3d;
  }

  .container.hero-section {
    margin-right: auto;
    margin-left: auto;
    max-width: 1400px;
  }

  .container.footer {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
  }

  .container.sd-two-cols {
    max-width: 75%;
  }

  .container.container-1 {
    min-height: 0;
    max-height: 25%;
  }

  .container.surrounding-padding-col-1 {
    padding: 0vw 40px 3vw;
  }

  .container.sample-60-buttons-cont.twelve-hundred-centered-cont {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: justify;
    margin-right: auto;
    margin-left: auto;
    padding: 20px 20px 10px;
    min-height: 0;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container.sample-60-advanced-bt {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 10px;
    min-width: 100px;
    min-height: 0;
    width: 23.5%;
    background-color: #fff;
    -webkit-transition-delay: 0s;
       -moz-transition-delay: 0s;
         -o-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
       -moz-transition-timing-function: ease-out;
         -o-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -webkit-transition-duration: .25s;
       -moz-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transition-property: -webkit-transform;
       -moz-transition-property:         transform, -moz-transform;
         -o-transition-property:      -o-transform;
            transition-property: -webkit-transform;
            transition-property:         transform;
            transition-property:         transform, -webkit-transform, -moz-transform, -o-transform;

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  .container.sample-60-advanced-bt:hover {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: justify;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 20px 10px;
    min-width: 100px;
    min-height: 0;
    width: 23.5%;
    background-color: #fff;
    -webkit-transition-timing-function: ease;
       -moz-transition-timing-function: ease;
         -o-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-duration: .25s;
       -moz-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
    -webkit-transform: scaleX(1.03) scaleY(1.02);
       -moz-transform: scaleX(1.03) scaleY(1.02);
         -o-transform: scaleX(1.03) scaleY(1.02);
            transform: scaleX(1.03) scaleY(1.02);

    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
            justify-content: space-between;
  }

  li.list-item-container.list-item-container-1 {
    justify-self: center;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
  }

  a.responsive-picture.picture-link-1 {
    justify-self: center;
  }

  div.responsive-picture.picture-1 {
    display: inline-block;
    width: 50%;
  }

  a.responsive-picture.picture-link-2 {
    max-width: none;
  }

  div.responsive-video.video-platform-4 {
    display: inline-block;
    padding-bottom: 100%;
    min-width: 0auto;
    min-height: 0;
    width: 100%;
  }
}